.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Graph {
  width: 80%;
  height: 100vh;
}
/* svg {
  background-color: rgb(198, 141, 141);
} */
.OuterNodes {
  fill: #e8fadc;
  stroke: #8ee556;
}
.centerNodes {
  fill: none;
  stroke: none;
}
.rectangle {
  height: 1.5em;
  width: 4em;
}
